{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Bienvenue {{request.user.username|capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password</a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">
            <h3>Password Change Successfully !!!</h3>
            <div>
                <iframe src="https://giphy.com/embed/ibo1le3mOqHE3PQTtk" width="200" height="200" frameBorder="0" class="giphy-embed" allowfullScreen></iframe>
            </div>
        </div>
    </div>
</div>

{% endblock man-content %}